
      
        <div class="header"><h1> Title: {{product.title}}</h1> </div>
        
        
        <div class="sidebar"><!-- sidebar  -->
          
          <span class="category">
            
          </span>
          
          <span class="longDesc">
            
            </span>

          <span class="price">
            
          </span>        
        </div> 
        <!-- <img :src="require('@/assets/'+product.imgFile)" class="d-block w-100" alt="b"> -->
        <!-- sidebar slut -->

      <!--
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            

            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
              
              <div class="carousel-item active">

                <img :src="require('@/assets/'+product.imgFile)" class="d-block w-100" alt="b">
                </div>
              

          
            <a class="carousel-control-prev" @click="getPrev" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" @click="getNext" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
           
            
          </div>
        <div class="footer"> <h1>footer</h1>:${{product.price}}</div>
        
      </div>
      -->     
<style scoped>

  * {
    
    padding:0;
    margin:0;
   border: 1px solid black;
  }
  body{
    border: 1px solid black;
    width: fit-content;
    padding: 100px;
  }


  .container{
    background-color: #eee;
    border: none;
    margin: 50px;
    padding:20px;
    width: 1100px;
    height: 900px;
    
    border: 1px solid black;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: .5fr 3fr 1fr;
    gap: 10px;
    grid-template-areas: 
      " header    header"
       "carousel  sidebar"
      " footer    sidebar";
  }


  .header{
    grid-area:header;
    border: 1px solid blue;
  }
  .carousel{
    grid-area: carousel;
    border: 1px solid black;
  }  




  .sidebar{
    grid-area: sidebar;

    display: grid;
    border: 1px solid black;

    row-gap: 10px;;
    
  }

  .carousel-indicators{
    border: 1px solid red;
  }

  carousel-item{
    
    height: fit-content;
    width: fit-content;
    
  }
  .footer{
    grid-area: footer;
    height: fit-content;
    border: 1px solid green;
  }

  .img{
    color:red;
  }

</style>