<!DOCTYPE html>
<html>
  <head>
    <div class="cointainer"></div>
  </head>
  <body>
    
  </body>
</html>

<script>
/* <-- { 
  "title":"Tricky",
  "price": 799, 
  "shortDesc":"Unisex",
  "category":"board",
  "longDesc":"Skate ipsum dolor sit amet, 50-50 Sidewalk Surfer nose bump kickflip bruised heel fakie berm soul skate. Bluntslide transition nollie hard flip bank pressure flip ho-ho. Steps rip grip nosepicker roll-in yeah 540 pump. ",
  "imgFile":"skateboard-generic.png",
  "serial":"231874871397182",
  "_id":"3xRRf0wWEzJCwCWo"
} */
</script>

<style>
  .container{
    display: grid;
    
  }
  


</style>